<h1>About Suggestotron</h1>

<p>
    Suggestotron is a web application voting system.  
    It allows users to: 
    <ul>
        <li>View the topics sorted by number of votes
        <li>Upvote/downvote on topics
        <li>Create, edit, and destroy topics
    </ul>
    It was built using the RailsBridge "Intro to Rails" tutorial. 
</p>

<%= link_to 'Back', topics_path %>
